* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.card-container {
  flex-grow: 1;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-sub-container {
  display: flex;
  background-color: white;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 2000px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

/* .card {
  background-color: black;
  color: white;
  min-width: 300px;
  min-height: 400px;
} */

/* Card Hard Difficulty */
.card {
  /* background-color: black; */
  color: black;
  min-width: 200px;
  min-height: 300px;

  cursor: pointer;
}

.card-sub-container {
  display: flex;
}
